<% fields_for :issue, @issue, :builder => Redmine::Views::LabelledFormBuilder  do |f| %>

<%
  def can_edit(control_permission)
    user = User.current
    if user.nil?
    	return false
    elsif !user.allowed_to?(control_permission, @project, :global => true)
    	return false
    elsif @issue.new_record?
    	return true
    elsif user.allowed_to?(:edit_issues, @project, :global => true)
    	return true
    elsif !user.allowed_to?(:edit_own_issue, @project, :global => true)
     	return false
    elsif (!@issue.assigned_to.nil?)
		if @issue.assigned_to != user
			return false
		else
			return true
		end    	
    elsif @issue.author == user 
    	return true
    else
    	return false
    end
  end # can_edit
%>


<div class="splitcontentleft">
<% if @issue.new_record? || @allowed_statuses.any? %>
<p><%= f.select :status_id, (@allowed_statuses.collect {|p| [p.name, p.id]}), :required => true %></p>
<% else %>
<p><label><%= l(:field_status) %></label> <%= @issue.status.name %></p>
<% end %>

<% if can_edit(:edit_priority) %>
<p><%= f.select :priority_id, (@priorities.collect {|p| [p.name, p.id]}), {:required => true}, :disabled => !@issue.leaf? %></p>
<% end %>

<!-- check if user is allowed to 'edit_assigned_to' field -->
<% if can_edit(:edit_assigned_to) %>
<p><%= f.select :assigned_to_id, (@issue.assignable_users.collect {|m| [m.name, m.id]}), :include_blank => true %></p>
<% end %>
<!-- end check -->

<% if can_edit(:edit_issue_category) %>
<% unless @project.issue_categories.empty? %>
<p><%= f.select :category_id, (@project.issue_categories.collect {|c| [c.name, c.id]}), :include_blank => true %>
<%= prompt_to_remote(image_tag('add.png', :style => 'vertical-align: middle;'),
                     l(:label_issue_category_new),
                     'category[name]', 
                     {:controller => 'issue_categories', :action => 'new', :project_id => @project},
                     :title => l(:label_issue_category_new), 
                     :tabindex => 199) if authorize_for('issue_categories', 'new') %></p>
<% end %>
<% end %>

<% if can_edit(:edit_fixed_version) %>
<% unless @issue.assignable_versions.empty? %>
<p><%= f.select :fixed_version_id, version_options_for_select(@issue.assignable_versions, @issue.fixed_version), :include_blank => true %>
<%= prompt_to_remote(image_tag('add.png', :style => 'vertical-align: middle;'),
                     l(:label_version_new),
                     'version[name]', 
                     {:controller => 'versions', :action => 'create', :project_id => @project},
                     :title => l(:label_version_new), 
                     :tabindex => 200) if authorize_for('versions', 'new') %>
</p>
<% end %>
<% end %>
</div>

<div class="splitcontentright">
<% if User.current.allowed_to?(:manage_subtasks, @project) && can_edit(:edit_parent_task)%>
<p id="parent_issue"><%= f.text_field :parent_issue_id, :size => 10 %></p>
<div id="parent_issue_candidates" class="autocomplete"></div>
<%= javascript_tag "observeParentIssueField('#{auto_complete_issues_path(:id => @issue, :project_id => @project) }')" %>
<% end %>
<!-- check if user is allowed to 'edit_start_date' field -->
<% if can_edit(:edit_start_date) %>
<p><%= f.text_field :start_date, :size => 10, :disabled => !@issue.leaf? %><%= calendar_for('issue_start_date') if @issue.leaf? %></p>
<% end %>

<!-- end check -->
<!-- check if user is allowed to 'edit_due_date' field -->
<% if can_edit(:edit_due_date)%>
<p><%= f.text_field :due_date, :size => 10, :disabled => !@issue.leaf? %><%= calendar_for('issue_due_date') if @issue.leaf? %></p>
<% end %>
<!-- end check -->
<!-- check if user is allowed to 'edit_estimated_hours' field -->
<% if can_edit(:edit_estimated_hours)%>
<p><%= f.text_field :estimated_hours, :size => 3, :disabled => !@issue.leaf? %> <%= l(:field_hours) %></p>
<% if @issue.leaf? && Issue.use_field_for_done_ratio? %>
<p><%= f.select :done_ratio, ((0..10).to_a.collect {|r| ["#{r*10} %", r*10] }) %></p>
<% end %>
<% end %>
<!-- end check -->
</div>

<!-- check if user is allowed to 'edit_custom_fields' -->
<% if can_edit(:edit_custom_field)%>
<div style="clear:both;"> </div>
<%= render :partial => 'issues/form_custom_fields' %>
<% end %>
<!-- end check -->
<% end %>
